*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 1000;
    background: skyblue;
    cursor: default;
}
.container{
    margin: 0px auto;
}
header{
    height: 100px;
}
.headerbg{
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background: #bbb;
}
.pll{
    position: absolute;
    top: 10px;
    left: 2px;
    height: 80px;
    width: height;
}
.plt{
    position: absolute;
    top: 33px;
    left: 75px;
    height: 30px;
    width: 164px;
}
.nt{
    position: absolute;
    right: 10px;
    top: 38px;
    font-size: 17px;
}
.nt2{
    position: absolute;
    right: 128px;
    top: 38px;
    font-size: 17px;
}
.sanb {
    position: relative;
    height: 0;
    border: none;
    border-width: 0 0 5px;
    border-style: solid;
    border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1" width="8" height="4"><circle fill="blue" cx="1" cy="0.5" r="0.5"></circle></svg>') 0 0 100% repeat;
    background-position: 50%;
    box-sizing: border-box;
    margin: 0 0 35px 0;
    top: 35px;
}
.avb {
    position: relative;
    height: 0;
    border: none;
    border-width: 0 0 5px;
    border-style: solid;
    border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1" width="8" height="4"><circle fill="blue" cx="1" cy="0.5" r="0.5"></circle></svg>') 0 0 100% repeat;
    background-position: 50%;
    box-sizing: border-box;
}
.pltext{
    position: relative;
    font-size: 38px;
    text-align: center;
    margin: 0 0 35px 0;
    top: 35px;
    background: rgb(65, 184, 231);
    color: rgb(0, 74, 104);
    border: solid 2px rgb(0, 74, 104);
}
.sanc1{
    position: relative;
    width: 98vw;
    height: 40vw;
    margin: 0 0 35px 0;
    top: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.sanc2{
    position: relative;
    width: 100%;
    height: 100%;
}
.sancht{
    position: relative;
    margin: 0 auto;
    top:50%;
    transform:translate(0, -50%);
}
.sanch{
    position: relative;
    font-size: 40px;
    left: 7%;
    width: 41%;
    text-align: center;
    color: rgb(0, 0, 165);
}
.sanct{
    position: relative;
    font-size: 20px;
    left: 7%;
    width: 41%;
    text-align: center;
}
.sanimg{
    position: absolute;
    width: auto;
    height: 100%;
    right: 0;
    top: 0;
}


.avc1{
  position: relative;
  width: 98vw;
  height: 40vw;
  margin: 0 0 35px 0;
  top: 35px;
  padding-top: 35px;
  padding-bottom: 35px;
}
.avc2{
  position: relative;
  width: 100%;
  height: 100%;
}
.avcht{
  position: relative;
  margin: 0 auto;
  top:50%;
  width: 43%;
  right: -27%;
  transform:translate(0, -50%);
}
.avch{
  position: relative;
  text-align: center;
  color: rgb(0, 0, 165);
}
.avct{
  position: relative;
  font-size: 20px;
  max-width: 500px;
}
.avimg{
  position: absolute;
  width: auto;
  height: 100%;
  left: 0;
  top: 0;
}

.sando{
  position: relative;
  left: 19px;
  bottom: 5px;
  padding-left: 1px;
  padding-top: 1px;
}

.avdo{
  position: absolute;
  right: 19px;
  bottom: 5px;
  padding-left: 1px;
  padding-top: 1px;
}
.avdo1{
  position: absolute;
  background: #1d46c0;
  border: 4px solid #1a2294;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.avdo11{
  position: absolute;
  color: #fff;
  font-size: 20px;
  top: -5px;
  left: 7px;
}
.avdo2{
  position: relative;
  left: 35px;
  top: 1px;
}
.sandok{
  position: absolute;
  left: -1000px;
  width: 450px;
  border: solid 1px;
  font-size: 15px;
  padding-left: 5px;
  background: rgb(119, 184, 209);
  opacity: 0;
}
.avdok{
  position: absolute;
  left: -1000px;
  width: 350px;
  border: solid 1px;
  font-size: 15px;
  padding-left: 5px;
  background: rgb(119, 184, 209);
  opacity: 0;
}

@media (max-width: 851px){
  .sanimg{
    position: relative;
    width: 98vw; 
    height: 69vw;
    margin-bottom: 30%;
  }
  .sanc1{
    height: min-content;
  }
  .sancht{
    position: relative;
    top: 0;
  }
  .sanct{
    left: auto;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 30px;
  }
  .sanch{
    left: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
  }


  .avimg{
    position: relative;
    width: 98vw; 
    height: 69vw;
    margin-bottom: 35%;
  }
  .avc1{
    height: min-content;
  }
  .avcht{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    top: 0;
    left: 0;
  }
  .avct{
    left: auto;
    font-size: 30px;
    max-width: 1000px;
  }
  .avch{
    font-size: 50px;
  }
}

@media (max-width: 768px){
  .sanimg{
    position: relative;
    width: 98vw; 
    height: 69vw;
    margin-bottom: 30%;
  }
  .sanc1{
    height: min-content;
  }
  .sancht{
    position: relative;
    top: 0;
  }
  .sanct{
    left: auto;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 30px;
  }
  .sanch{
    left: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
  }
  .sandok{
    width: 700px;
    font-size: 23px;
  }


  .avimg{
    position: relative;
    width: 98vw; 
    height: 69vw;
    margin-bottom: 35%;
  }
  .avc1{
    height: min-content;
  }
  .avcht{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    top: 0;
    left: 0;
  }
  .avct{
    left: auto;
    font-size: 30px;
    max-width: 1000px;
  }
  .avch{
    font-size: 50px;
  }
  .avdok{
    width: 544px;
    font-size: 23px;
  }
}